body{background-color: rgb(216, 52, 52)}

header {
  height:50vh;
  min-height:200px;
  background-size:cover;
  background-image:url("../Images/cedar.jpg");
}

.nav-brand {color:white}

.nav-link {color:white;
}